<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/.css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/projects">Projects</a> |
        <a href="/contact">Contact</a>
    </nav>
    <h1>My Projects</h1>
    <div>
        <h2>Project 1</h2>
        <img src="~/Images\2023-12-22 (1).png" alt="Project 1 image">
        <p>Multi-Zone intranet deployment using a Bootstrap Script and Autoscaling Automation. Tasked to deploy a highly available company intranet static web portal across multiple availability zones using EC2 instances. </p>
    </div>
    <div>
        <h2>Project 2</h2>
        <img src="~/Images\Screenshot 2024-01-26 100339.png" alt="Project 2 image">
        <p>Multi-tiered Architectures: Severless and Manually Provisioned. Led the deployment of a comprehensive virtual network spanning multiple availability zones within a regional context using CloudFormation.</p>
    </div>
    <div>
        <h2>Project 3</h2>
        <img src="~/Images\Screenshot 2024-01-29 164204.png" alt="Project 3 image">
        <p>Build a Scalable AWS Architecture Through DevOPs Automation & Project Management. Leveraged industry-leading DevOps tools and best practices to design and deploy a robust multi-tier architecture in AWS.</p>
    </div>
</body>
</html>
